*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;}

 body {
    width: 100%;
}
header{
    width: 100%;
    background-color: aqua;
    padding: 10px 0;
}
h2{
    font-size: 30px;
    text-align: center;
}
.container {
    width: 1029px;
    background-color: #fff;
    margin: 20px;
    
}
img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
table {
    /* width: 1029px; */
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(210, 205, 205);
}
thead {
    background-color: #1527ca;
    color: white; 
}
tbody tr:hover {
    background-color: #f1f1f1;
}
tbody{
    width: 1029px;
}

